h2{
    color: #50a0ff;
    border-bottom-style: dotted;
}

h1{
    color: #50a0ff;
}

body{
    background-color: navy;
    color: #fff;
    font-family: monospace;
}

img{
    border: 4px dotted #50a0ff;
}